@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
/* font-family: "Rubik", serif; */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
/* font-family: "Titillium Web", serif; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* font-family: "Space Grotesk", serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", serif;
}
:root {
    --black: #0f0f0f;
    --white: #e5e5e5;
    --white-foreground: rgb(246, 246, 246);
    --gray: #9b9b9b;
    --orange: #ff4000;
}