@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* font-family: "Rubik", serif; */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;
}

.site-name {
    font-size: 22px;
    font-family: "Rubik", serif;
    font-weight: 400;
    cursor: pointer;
}
.site-name span {
    font-style: bold;
    font-weight: 450;
}

.web-login {
    font-size: 16px;
    font-family: "Rubik", serif;
    padding: 15px 30px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 40px;
    transform: translateY(0);
    transition: all 0.5s ease;
}
.web-logout svg {
    transform: rotate(180deg);
}
.web-logout:hover {
    cursor: pointer;
}

.web-login:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

main {
    padding-top: 60px; /* Reduced padding to match smaller navbar height */
}

.hero-section {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    height: fit-content;
    background-color: var(--white);
    font-family: "Rubik", serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 50px;
    overflow: hidden;
    padding: 0 15px;
}
.hero-section-content {
    width: 500px;
    height: fit-content;
}
.hero-section-title {
    font-size: 65px;
    color: var(--black);
    font-weight: 450;
    line-height: 1.1;
}
.hero-section-description {
    font-size: 16px;
    font-weight: 300;
    color: var(--gray);
    line-height: 1.2;
    padding: 20px 0;
}
.hero-section-button {
    font-size: 16px;
    color: var(--white-foreground);
    background-color: var(--orange);
    border-radius: 40px;
    padding: 20px 25px;
    cursor: pointer;
    width: fit-content;
    transform: translateY(0);
    transition: all 0.5s ease;
}

.hero-section-button:hover {
    transform: translateY(-3px);
}

/* .hero-section-image img {
    width: 500px;
    height: 500px;
    border-radius: 40px;
    object-fit: cover;
} */

.hero-section-img {
    width: 500px;
    height: 500px;
}
.hero-section-image {
    width: 500px;
    height: 500px;
    border-radius: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transform: rotate(-30deg);
}

.line-1 {
    width: 70%;
    height: 95px;   
    border-radius: 70px;
    background-color: var(--black);
}
.line-2 {
    width: 100%;
    height: 95px;   
    border-radius: 70px;
    background-color: var(--black);
}
.line-3 {
    width: 90%;
    height: 95px;   
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-3-1 {
    width: 40%;
    height: 95px;   
    border-radius: 70px;
    background-color: var(--black);
}
.line-3-2 {
    width: 59%;
    height: 95px;   
    border-radius: 70px;
    background-color: var(--black);
}

@media screen and (max-width: 1090px) {
    .hero-section-img {
        width: 450px;
        height: 450px;
    }
    .hero-section-image {
        width: 450px;
        height: 450px;
        gap: 7px;
    }
    .line-1, .line-2, .line-3, .line-3-1, .line-3-2 {
        height: 85px;   
    }


    .hero-section {
        gap: 30px;
    }
    .hero-section-content {
        width: 450px;
    }
    .hero-section-title {
        font-size: 55px;
    }
    .hero-section-description {
        font-size: 15px;
    }
}
@media screen and (max-width: 960px) {
    .hero-section-img {
        width: 400px;
        height: 400px;
    }
    .hero-section-image {
        width: 400px;
        height: 400px;
        gap: 7px;
    }
    .line-1, .line-2, .line-3, .line-3-1, .line-3-2 {
        height: 75px;   
    }


    .hero-section {
        gap: 15px;
    }
    .hero-section-content {
        width: 400px;
    }
    .hero-section-title {
        font-size: 50px;
    }
    .hero-section-description {
        font-size: 14px;
    }
}
@media screen and (max-width: 850px) {
    .hero-section-img {
        width: 80%;
        min-width: 650px;
        height: fit-content;
        margin-bottom: 60px;
        margin-top: 80px;
    }
    .hero-section-image {
        width: 100%;
        min-width: 650px;
        height: fit-content;
        gap: 7px;
    }
    .line-1, .line-2, .line-3, .line-3-1, .line-3-2 {
        height: 120px;   
    }


    .hero-section {
        gap: 15px;
    }
    .hero-section-content {
        width: 80%;
        min-width: 650px;
    }
    .hero-section-title {
        font-size: 50px;
    }
    .hero-section-description {
        font-size: 14px;
    }
}
@media screen and (max-width: 710px) {
    .hero-section-img {
        width: 95%;
        min-width: 0;
        height: fit-content;
        margin: 60px 0;
    }
    .hero-section-image {
        width: 100%;
        min-width: 0;
        height: fit-content;
        gap: 7px;
    }
    .line-1, .line-2, .line-3, .line-3-1, .line-3-2 {
        height: 18vw;   
        /* height: 120px;    */
    }


    .hero-section {
        gap: 15px;
    }
    .hero-section-content {
        width: 95%;
        min-width: 0;
    }
    .hero-section-title {
        font-size: 50px;
    }
    .hero-section-description {
        font-size: 14px;
    }
}
@media screen and (max-width: 450px) {
    .hero-section-img {
        margin: 30px 0;
    }
    .hero-section-title {
        font-size: 40px;
    }
}